*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.adminLogin{
    background-image: url("bg2.jpg");
    width: 100%;  
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
} 

.studentLogin{
    background-image: url("bg1.png");
    width: 100%;  
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.box{
    display: inline-block;
    position: relative;
    left: 33%;
    width:500px;
    height:600px;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                 0 6px 20px 0 rgba(0, 0, 0, 0.19),
                 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                 0 6px 20px 0 rgba(0, 0, 0, 0.19),
                 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box .img img{
    display: inline-block;
    align-items: center;
    width:501px;
    height:300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img{
    display: inline;
}
.img p{
    color: white;
    margin-bottom: -20px;
    position: relative;
    bottom:5%;
    left:2%;
}
.box h6{
    color: #db00dd;
    font-size:1.4em;
    margin:15px;
}
#log-in{
    text-align: center;
}
#log-in img{
    display:inline-block;
    position: relative;
    left:10%;
    z-index: 1;
    align-items: center;
}
#uname , #pwd{
    position: relative;
    right: 3.5%;
    display: inline-block;
    width:85%;
    background-color: #c251c4;
    border: none;
    font: size 1.5em;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding:20px;
    margin-top: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#uname::placeholder,#pwd::placeholder{
    color:white;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 600;

}
#uname:focus,#pwd:focus{
    background-color:rgb(66, 0, 75);
    color: rgb(255, 255, 255);
}
#submit{
    display: inline-block;
    background-color: #a820aa;
    color:white;
    padding:5px 50px;
    margin-top: 5px;
    transition:0.6s ease-in-out all;
    -webkit-transition:0.6s ease-in-out all;
    -moz-transition:0.6s ease-in-out all;
    -ms-transition:0.6s ease-in-out all;
    -o-transition:0.6s ease-in-out all;
}
#submit:hover{
    background-color:#ffffff;
    color:#a820aa;
    border:#a820aa solid 2px;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.for{
    color: #a820aa;
    position: relative;
    left:25%;
    display: block;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight:550;   
    letter-spacing:2px; 
}
.for:hover{
    text-decoration: none;
    color:black;
}
.reg{
    color:#a820aa;
    text-align: left;
    margin-left:  40px;
    margin-top: 5px;
}

@media screen and (max-width: 900px) {
    .box{
        left:20px;
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
}
}
@media (max-width: 300px) {
    .studentLogin {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 200px;
}
    .adminLogin{
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 200px;
    }
}
