.adminLogin{
    background-image: url("bg2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.adminLogin::before ,.studentLogin::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(93,84,240,0.5);
    background: -webkit-linear-gradient(left, rgba(170, 103, 185, 0.459), rgba(172, 77, 216, 0.432));
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    pointer-events: none;
  }
.studentLogin{
    background-image: url("bg1.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.box{
    display: inline-block;
    position: relative;
    left: 33%;
    width:500px;
    height:600px;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                 0 6px 20px 0 rgba(0, 0, 0, 0.19),
                 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                 0 6px 20px 0 rgba(0, 0, 0, 0.19),
                 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box .img img{
    display: inline-block;
    align-items: center;
    width:501px;
    height:300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img{
    display: inline;
}
.img p{
    color: white;
    margin-bottom: -20px;
    position: relative;
    bottom:5%;
    left:2%;
}
.box h6{
    color: #db00dd;
    font-size:1.4em;
    margin:15px;
}
#log-in{
    text-align: center;
}
#log-in img{
    display:inline-block;
    position: relative;
    left:10%;
    z-index: 1;
    align-items: center;
}
#uname , #pwd{
    position: relative;
    right: 3.5%;
    display: inline-block;
    width:85%;
    background-color: #c251c4;
    border: none;
    font: size 1.5em;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding:20px;
    margin-top: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#uname::placeholder,#pwd::placeholder{
    color:white;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 600;

}
#uname:focus,#pwd:focus{
    background-color:rgb(66, 0, 75);
    color: rgb(255, 255, 255);
}
#submit{
    display: inline-block;
    background-color: #a820aa;
    color:white;
    padding:5px 50px;
    margin-top: 5px;
    transition:0.6s ease-in-out all;
    -webkit-transition:0.6s ease-in-out all;
    -moz-transition:0.6s ease-in-out all;
    -ms-transition:0.6s ease-in-out all;
    -o-transition:0.6s ease-in-out all;
}
#submit:hover{
    background-color:#ffffff;
    color:#a820aa;
    border:#a820aa solid 2px;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.for{
    color: #a820aa;
    position: relative;
    left:25%;
    display: block;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight:550;   
    letter-spacing:2px; 
}
.for:hover{
    text-decoration: none;
    color:black;
}
.reg{
    color:#a820aa;
    text-align: left;
    margin-left:  40px;
    margin-top: 5px;
}

@media screen and (max-width: 900px) {
    .box{
        left:20px;
        transform: scale(0.75);
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -o-transform: scale(0.75);
}
  }

@media screen and (max-width: 500px) {
    .box{
        width:100%;
        position: fixed;
}
.studentLogin, .adminLogin, .studentLogin::before,.adminLogin::before{
    background:none;
}
}
@media screen and (min-width: 500px) and (max-width:1300px){
    .studentLogin, .adminLogin, .studentLogin::before,.adminLogin::before{
        background-size:300%;
    }
}
   
  